body
{
  color: white;
  background: #c0d3ff;
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

#p{
  background-color: white;
  border-radius: 100px;
  color: aquamarine;
  width: 100px;
  
}
#gesture, #gname{
  font-size: 50px;
}
